
:root {
    /* <-- Dark Themes --> */
    --dark-theme : #091921;
    --hour-hand-dark :#ff105e;
    --min-hand-dark :#fff;
    
    /* <-- Light Themes --> */
    --light-theme :#d1dae3;
    --border-color :#cad3dc;
    --second-light-theme :#008eff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--dark-theme);
}

body.light {
    background: var(--light-theme);
    transition: .5s;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./images/clock.png);
    background-size: cover;
    border: 4px solid var(--dark-theme);
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255 , 255 , 255 , 0.05) ,
                inset 0 -15px 15px rgba(255 , 255 , 255 , 0.05) ,
                0 15px 15px rgba(0 , 0 , 0 , 0.3) ,
                inset 0 15px 15px rgba(0 , 0 , 0 , 0.3);
}

body.light .clock {
    background: --light-theme url(./images/clock.png);
    background-size: cover;
    border: 4px solid var(--border-color);
    box-shadow: -8px -8px 15px rgba(255 , 255 , 255 , 0.5) ,
                10px 10px 10px rgba(0 , 0 , 0 , 0.1) ,
                inset -8px -8px 15px rgba(255 , 255 , 255 , 0.5) ,
                inset 10px 10px 10px rgba(0 , 0 , 0 , 0.1);    
}

.clock:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}

body.light .clock:before {
    background: var(--second-light-theme);
    transition: .5s;
}

.clock .hour ,
.clock .minutes,
.clock .seconds {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .minutes, .min {
    width: 190px;
    height: 190px;
}

.clock .seconds, .sec {
    width: 230px;
    height: 230px;
}

.hr, .min, .sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: var(--hour-hand-dark);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: var(--min-hand-dark);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

body.light .min:before {
    background: var(--dark-theme);
    transition: .5s;
}

.sec:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: var(--second-light-theme);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.toggle {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 20px;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    background: var(--light-theme);
    color: var(--light-theme);
    font-family: consolas;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .5s;
}

.toggle:before {
    font-weight: bolder;
    position: absolute;
    left: 25px;
    content: 'Light Mode';
    white-space: nowrap;
    transition: .1s;
}

body.light .toggle {
    background: var(--dark-theme);
    color: var(--dark-theme);
    transition: .5s;
}


body.light .toggle:before {
    content: 'Dark Mode';
    white-space: nowrap;
    transition: .1s;
}